.side-panel {
  position: fixed;
  right: -400px;
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: 0.5s;
}

.side-panel.visible {
  right: 0;
}

.debug {
  outline: 1px solid red;
}
